/* ----- Estilos del formulario -----*/
.app,
form {
  display: flex;
}

form {
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}

input,
select,
button {
  height: 30px;
  padding: 0 15px;
  margin: 3px 0;
  font-size: 15px;
}

/* ----- Estilos de la tabla -----*/
section {
  margin: 0 20px;
}

table {
  width: 700px;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  font-weight: bold;
  background-color: gainsboro;
}

thead > tr > td {
  padding: 7px 0;
}

td {
  padding: 5px 0;
}

/* Botones editar y eliminar */
td > input {
  width: 48%;
}

#btn_editar {
  margin-right: 2.5px;
}

#btn_eliminar {
  margin-left: 2.5px;
}

h2 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}